<div ng-controller="uploadController">
    <div id="uploadMain">
        <div id="filesection">
            <div id="title">
                <button class="btn btn-primary" style="float: left" ng-click="goToHome()"><span class="glyphicon glyphicon-menu-left"></span> Home</button>
                <h1>Upload a file</h1></div>
            <div class="col-lg-6 col-md-6 col-xs-12" id="files">
                <!--class="row"-->
                <h4>Select a File to Upload</h4>
                <div id="selectFile">
                    <input type="file" ng-click="updateFile()" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" /> </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12" id="files">
                <h4>Drop files here</h4>
                <div id="dropbox" class="dropbox" ng-class="dropClass"><span class="glyphicon glyphicon-inbox" id="drop"></span></div>
            </div>
            <div id="uploadError">
                <h3>Oops, sorry...</h3>
                <p>We coundn't upload your file because this filetype is not supported.</p>
                <p>Only these filetypes are supported: PDF - JPG - JPEG - PNG .</p>
                <p>Please select another file.</p>
            </div>
            <div class="col-md-12 col-xs-12" id="specsFile">
                <p>Enter custom filename (leave blank to keep original filename):
                    <input type="text" ng-model="customFilename" class="form-control has-feedback" id="uploadSpecsInput"> </p>
                <p>Enter custom tags:
                    <input type="text" ng-model="tags" class="form-control has-feedback" id="uploadSpecsInput"> </p>
                <div ng-show="files.length">
                    <div ng-repeat="file in files.slice(0)"> <span>{{file.webkitRelativePath || file.name}}</span> (<span ng-switch="file.size > 1024*1024">
                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span> <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span> </span>) </div>
                    <input type="button" ng-click="uploadFile()" value="Upload" />
                    <div ng-show="progressVisible">
                        <div class="percent">{{progress}}%</div>
                        <div class="progress-bar">
                            <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="processinggif" class="row">
            <div ng-show="files.length">
                <div ng-repeat="file in files.slice(0)">
                    <h1>Processing {{file.webkitRelativePath || file.name}}</h1> </div>
                <h2>{{currentAction}}</h2> 
                <h4 ng-show="largeFile">This is a large file and can take longer to process. 
                    <br>
                    Please wait...</h4>
                <img src="/processing.gif"> </div>
        </div>
        <div id="notEnoughSpace">
            <h1>Oops, sorry...</h1>
            <h3>We coundn't upload your file because it would exceed your non-premium storage limit.</h3>
            <h3>Please become a premium member to enjoy unlimited storage space.</h3>
            <button class="btn btn-primary" ng-click="goToHome()">Go back to home</button>
        </div>
        <canvas id="the-canvas" style="display: block;" height="633" width="489"></canvas>
        <button class="btn btn-primary" style="float: left" ng-click="process()"><span class="glyphicon glyphicon-menu-left"></span> Process</button>
        
    </div>