<div ng-controller="uploadController">
    <div id="uploadMain">
        <div class="row">
            <h2>Select a File to Upload</h2>
            <br/>
            <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" /> </div>
            <h4>Drop files here</h4>
        <div id="dropbox" class="dropbox" ng-class="dropClass"><span class="glyphicon glyphicon-inbox" id="drop"></span></div>
        <p>Enter custom filename (leave blank to keep original filename): </br>
            <input type="text" ng-model="customFilename" class="form-control has-feedback">
        </p>
        <p>Enter custom tags: </br>
            <input type="text" ng-model="tags" class="form-control has-feedback">
        </p>

        <div ng-show="files.length">
            <div ng-repeat="file in files.slice(0)"> <span>{{file.webkitRelativePath || file.name}}</span> (<span ng-switch="file.size > 1024*1024">
                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span> <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span> </span>) </div>

            <input type="button" ng-click="uploadFile()" value="Upload" />
            <div ng-show="progressVisible">
                <div class="percent">{{progress}}%</div>
                <div class="progress-bar">
                    <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                </div>
            </div>
            <input type="button" ng-click="goBack()" value="Go back to home" />
        </div>
    </div>
</div>
