<div ng-controller="show">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 specialBorder">
        <h3>            
        <button class="btn btn-primary" ng-click="goToHome()"><span class="glyphicon glyphicon-menu-left"></span> Home</button>
            </h3>
        <div>
            <h3 style="overflow-wrap: break-word;">{{file.customfilename}}</h3> <span>{{file.readableFileSize}}</span> </div>
        <hr>
        <div ng-show="file.tags.length > 0">
            <p> <span class="glyphicon glyphicon-tags"></span> {{file.tags}} </p>
        </div>
        <div>
            <div class="btn-group btn-group-merge">
                <button class="btn btn-default" title="Download {{file.customfilename}}"> <a href="{{file.location}}" onclick="event.stopPropagation();" class="noLink" download><span class="fontShowIcons glyphicon glyphicon-cloud-download"></span></a></button>
                <button class="btn btn-default" title="Edit {{file.customfilename}}" ng-click="editFile(file)"><span class="fontShowIcons glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-default" title="Delete {{file.customfilename}}" ng-click="deleteFile(file.filename);"><span class="fontShowIcons glyphicon glyphicon-remove"></span></button>
                <button class="btn btn-default" ng-click="printFile()" title="Print image"><span class="fontShowIcons glyphicon glyphicon-print"></span></button>
            </div>            
        </div>
        <br>
        <div ng-show="file.filetype === 'pdf'">
            <h3>Page <span id="page_num">0</span> / <span id="page_count">0</span></h3>
            <div class="btn-group btn-group-merge" ng-show="moreThanOnePage">
                <button class="btn btn-default" id="prev" title="Previous page"><span class="fontShowIcons glyphicon glyphicon-chevron-left"></span></button>
                <button class="btn btn-default" id="next" title="Next page"><span class="fontShowIcons glyphicon glyphicon-chevron-right"></span></button>
            </div>
            <div class="btn-group btn-group-merge">
                <button class="btn btn-default" ng-click="zoomIn()" title="Zoom in"><span class="fontShowIcons glyphicon glyphicon-zoom-in"></span></button>
                <button class="btn btn-default" ng-click="zoomFitScreen()"title="Fit on screen"><span class="fontShowIcons glyphicon glyphicon-search"></span></button>
                <button class="btn btn-default" ng-click="zoomOut()" title="Zoom out"><span class="fontShowIcons glyphicon glyphicon-zoom-out"></span></button>
            </div>
            
        </div>
        <div ng-hide="file.filetype === 'pdf'" class="btn-group btn-group-merge" style="margin-bottom: 15px;">
                <button class="btn btn-default" ng-click="imageZoomIn()" title="Zoom in"><span class="fontShowIcons glyphicon glyphicon-zoom-in"></span></button>
                <button class="btn btn-default" ng-click="imageZoomFitScreen()"title="Fit on screen"><span class="fontShowIcons glyphicon glyphicon-search"></span></button>
                <button class="btn btn-default" ng-click="imageZoomOut()" title="Zoom out"><span class="fontShowIcons glyphicon glyphicon-zoom-out"></span></button>       
            </div>    
        <br>
        <div ng-show="linksList.length > 0" class="hidden-sm hidden-xs" style="min-height: 100px;">
            <h3>Related files 
            <button ng-click="toggleGridList()" class="btn btn-primary float-right" title="Change the way the related files are displayed"> <span id="btnToggleGridList" class="glyphicon glyphicon-list"></span></button>
            
            </h3>
            <div id="links" ng-show="listOrGrid === 'grid'">
                <div ng-repeat="pdfItem in linksList" class="collectionItem gridItem" ng-click="showFile(pdfItem)"> <img ng-src="{{pdfItem.thumbnail}}" style="margin-top: 5px;">
                    <h4>{{pdfItem.gridcustomfilename}}</h4> </div>
            </div>
            <div id="linksList" ng-show="listOrGrid === 'list'" style="margin-bottom: 25px;">
                <table>
                    <tr ng-repeat="pdfItem in linksList" ng-click="showFile(pdfItem)">
                        <th> {{pdfItem.customfilename}} </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
        <div id="loading">
            <h2>Loading document...</h2> <img src="processing.gif"> </div>
        <div id="showSection">
            <canvas id="the-canvas" class="shadow-box" height="633" width="489"></canvas>
            <hr> </div>
        <script src="pdf.js"></script>
        <div id="imageSection"></div>
        <br>
        <hr> </div>
    <div class="form-content" style="display:none;">
        <form class="form" role="form">
            <div class="form-group">
                <label for="customFilename">Custom Filename</label>
                <input class="form-control" id="editCustomFilename" name="editCustomFilename"> </div>
            <div class="form-group">
                <label for="password">Tags</label>
                <input class="form-control" id="editTags" name="editTags"> </div>
        </form>
    </div>
</div>