@font-face {
    font-family: default-font;
    src: url('font.otf'); 
}

h1 {
    font-size: 300%;
}
h2 {
    font-size: 250%;
}
h3 {
    font-size: 200%;
}

body {
    background-image: url("http://www.hutui6.com/data/out/115/67532081-light-wallpapers.jpg");
    background-size: cover;
    font-family: default-font;
    font-size: 15px;
}

input {
    font-family: default-font;
    font-size: 15px !important;
}


.margin{
    margin: 15px 0px 15px 0px
}

form {
    max-width: 500px;
}

button{
    float: right;
    max-width: 200px;
    
}

#loginSection, #registerSection {
    width: 75%;
    margin: 0 auto;
    margin-top: 5%;
}

@media(max-width: 1000px){
    #login{
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }
}

@media(min-width: 1000px){
    #login{
        border-right: 1px solid black;
        min-height: 500px;
        padding-right: 80px;
    }
    #register{
        padding-left: 80px;
    }
}

.display-none {
    display: none;
}