@font-face {
    font-family: japofont;
    src: url(font.otf);
}

body {
    font-family: japofont;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.margin {
    margin: 15px 0px 15px 0px
}

@media(max-width: 1000px) {
    .dashBorderLeft {
        border-bottom: 2px dashed #046ca3;
        padding-bottom: 20px;
    }
}

@media(min-width: 1000px) {
    .dashBorderLeft {
        border-right: 2px dashed #046ca3;
        min-height: 500px;
        padding-right: 80px;
    }
    .dashBorderRight {
        padding-left: 80px;
    }
}

#layout {
    margin-top: 8px;
}

img {
    cursor: pointer;
}

a {
    cursor: pointer;
}

tr {
    cursor: pointer;
}

.margin {
    margin: 15px 0px 15px 0px
}

button {
    max-width: 200px;
}

.zoek {
    margin-right: 20px;
}

.bold > th {
    font-weight: bold !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    font-weight: normal;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#slider {
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(max-width: 768px) {
    #top {
        min-height: 3em;
        border-bottom: 2px dashed #046ca3;
    }
}

@media(min-width: 768px) {
    #top {
        min-height: 6em;
        border-bottom: 2px dashed #046ca3;
    }
}

@media(min-width: 768px) {
    #main {
        width: 85%;
        margin: 0 auto;
        margin-top: 3%;
    }
}

@media(max-width: 768px) {
    #main {
        width: 100%;
        margin: 0 auto;
        margin-top: 2%;
    }
}

#example1 {
    width: 500px;
    height: 700px;
}

.float-right {
    float: right;
}

@media(min-width: 768px) {
    #uploadMain {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
    }
}

@media(max-width: 768px) {
    #uploadMain {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

#drop {
    font-size: 5em;
    margin-bottom: 10px;
}

#video {
    position: absolute;
    visibility: hidden;
}

#canvas {
    margin-bottom: 8px;
}

#files {
    text-align: center;
    padding-bottom: 20px;
}

#specsFile {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7%;
}

#title {
    padding-bottom: 3%;
    margin-bottom: 7%;
    border-bottom: 2px dashed #046ca3;
}

#uploadSpecsInput {
    max-width: 42%;
    margin: 0 auto;
}

@media(max-width: 768px) {
    #uploadSpecsInput {
        max-width: 90%;
        margin: 0 auto;
    }
}

#capture {
    text-align: center;
}

#selectFile {
    margin-left: 10%;
}

.collectionItem {
    display: block;
    text-align: center;
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.collectionItem > img {
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    box-shadow: 5px 4px 3px #888888;
    -webkit-transition: max-width 0.2s;
    /* Safari */
    transition: max-width 0.2s;
}

.collectionItem:hover > img {
    -webkit-transition: max-width 0.2s;
    /* Safari */
    transition: max-width 0.2s;
    max-width: 80%;
}

.gridItemBG {
    width: 100%;
    height: 100%;
}

.gridItem > a {
    position: relative;
    top: -150px;
    left: 7px;
    visibility: hidden;
}

.gridItem:hover > a {
    visibility: visible;
    margin-right: 10px;
}

.gridItem:hover > a > img {
    width: 20%;
    height: auto;
}

@media(max-width: 600px) {
    th:nth-child(1) {
        display: none;
    }
    th:nth-child(3) {
        display: none;
    }
    th:nth-child(5) {
        display: none;
    }
}

@media(max-width: 500px) {
    th:nth-child(1) {
        display: none;
    }
    th:nth-child(3) {
        display: none;
    }
    th:nth-child(4) {
        display: none;
    }
    th:nth-child(5) {
        display: none;
    }
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.red {
    color: crimson;
}

.red:hover {
    color: darkred;
}

.white {
    color: white;
}

.white:hover {
    color: gainsboro;
}

#search {
    border-radius: 15px;
}

.percentage {
    position: absolute;
    left: 80px;
    margin-top: 80px;
    color: dodgerblue;
    font-size: 30px;
    font-weight: bolder;
}

@media(max-width: 768px) {
    .leftDiv {
        float: left;
        width: 100px;
    }
    .rightDiv {
        float: right;
        width: calc(100% - 100px);
    }
}

@media(min-width: 768px) {
    .leftDiv {
        float: left;
        width: 170px;
    }
    .rightDiv {
        float: right;
        width: calc(100% - 170px);
    }
}

.dropdown-menu > li > a > .glyphicon:before {
    margin-right: 10px;
}

.duplicatesPopup {
    z-index: 1000;
    position: absolute;
    top: 0px;
    right: 0px;
    border: solid;
    border-bottom-left-radius: 25px;
    border-width: 1px;
    width: 280px;
    height: 140px;
    background-image: -webkit-linear-gradient(top, firebrick 0, darkred 100%);
    background-image: -o-linear-gradient(top, firebrick 0, darkred 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(firebrick), to(darkred));
    background-image: linear-gradient(to bottom, firebrick 0, darkred 100%);
    //margin: 10px;
    padding: 10px;
    box-shadow: 5px 4px 3px #888888;
    cursor: pointer;
}

.duplicatesPopup > p {
    color: aliceblue
}

.show-animation {
    transition: all linear 0.5s;
}

.show-animation.ng-hide {
    opacity: 0.5;
    top: -140px;
}

.show-animation.ng-show {
    opacity: 1;
    top: 0px;
}

hr {
    display: block;
    margin-top: 0.2em !important;
    margin-bottom: 0.2em !important;
}