@font-face {
    font-family: japofont;
    src: url(font.otf);
}
body {
    font-family: japofont;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.margin {
    margin: 15px 0px 15px 0px
}
@media(max-width: 1000px) {
    #login {
        border-bottom: 2px dashed #046ca3;
        padding-bottom: 20px;
    }
}
@media(min-width: 1000px) {
    #login {
        border-right: 2px dashed #046ca3;
        min-height: 500px;
        padding-right: 80px;
    }
    #register {
        padding-left: 80px;
    }
}
#layout {
    margin-top: 8px;
}
img {
    cursor: pointer;
}
a {
    cursor: pointer;
}
tr {
    cursor: pointer;
}
.margin {
    margin: 15px 0px 15px 0px
}
button {
    max-width: 200px;
}
.zoek {
    margin-right: 2.5%;
}
.bold > th {
    font-weight: bold !important;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td,
th {
    font-weight: normal;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
#slider {
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.collectionItem {
    display: block;
    text-align: center;
    float: left;
    max-width: 30%;
    margin: 10px;
}
.collectionItem > img {
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
#top {
    min-height: 6em;
    border-bottom: 2px dashed #046ca3;
}
#main {
    width: 85%;
    margin: 0 auto;
    margin-top: 5%;
}
#example1 {
    width: 500px;
    height: 700px;
}
.float-right {
    float: right;
}
#drop {
    font-size: 5em;
    margin-bottom: 10px;
}
#video {
    position: absolute;
    visibility: hidden;
}
#canvas {
    margin-bottom: 8px;
}
#files {
    text-align: center;
    padding-bottom: 20px;
}
#specsFile {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7%;
}
#uploadMain {
    text-align: center;
}
#title {
    padding-bottom: 3%;
    margin-bottom: 7%;
    border-bottom: 2px dashed #046ca3;
}
#uploadSpecsInput {
    max-width: 42%;
    margin: 0 auto;
}
#capture{
    text-align: center;
}
#selectFile{
    margin-left: 10%;
}